<%-include("./partials/header")-%>

<h1><%=homePageHeading%></h1>
<p><%=startPageContent%></p>

<%posts.forEach(function(element){%>
	<h3><%=element.title%></h3>
	<p><%=element.content%></p>
<%})%>

<%-include("./partials/footer")-%>